Dues reminder system workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -128
      ],
      "id": "8798cc53-c853-4d77-9125-dc4a021a86a3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ipdwo19WyWZJb4GllUnDQtsabe_mHRZShN_e-Zz-GIM",
          "mode": "list",
          "cachedResultName": "Dues Reminder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ipdwo19WyWZJb4GllUnDQtsabe_mHRZShN_e-Zz-GIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ipdwo19WyWZJb4GllUnDQtsabe_mHRZShN_e-Zz-GIM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        -128
      ],
      "id": "344d42cc-057c-4198-9e49-87de40ee696d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fFlLqjGTByqXmz5B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f284d379-f550-489e-b9a9-6e5a2b9407f7",
              "name": "DaysUntilDue",
              "value": "={{ Math.ceil((new Date($json[\"Due Date\"]) - new Date()) / (1000*60*60*24)) }}\n",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -128
      ],
      "id": "40e386ff-689b-4c43-be33-ff32f1ba4b1e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee8e3736-2008-42e4-a7f7-3994e907c4e5",
              "leftValue": "={{ $('Get row(s) in sheet').item.json.Status }}",
              "rightValue": "Paid",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "48d88924-c2b1-45a3-8cbe-7887d6640b34",
              "leftValue": "={{ $('Get row(s) in sheet').item.json['Due Amount'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "90d9e2e6-3f3f-42c7-b635-0c0e6ec5eb52",
              "leftValue": "={{ $json.DaysUntilDue }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        304,
        -128
      ],
      "id": "90fa6fe7-6be6-47a9-9b9e-1eeef6585101",
      "name": "Filter"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.Email }}",
        "subject": "Dues Reminder",
        "message": "=This is to remind you that your  {{ $('Get row(s) in sheet').item.json['Due Amount'] }} amount is due on {{ $('Get row(s) in sheet').item.json['Due Date'] }} . Please Pay your due amount before due date. \nThanks",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        544,
        -128
      ],
      "id": "4f1dc542-4a34-42f6-8927-601bf848cca1",
      "name": "Send a message",
      "webhookId": "a0558261-9465-4bc9-865d-a8d226ae474d",
      "credentials": {
        "gmailOAuth2": {
          "id": "JR6OwLpNWtzteuyo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f92ff9f5-69d0-4fcb-81c8-f96c7f91d440",
              "leftValue": "={{ $json.DaysUntilDue }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "68369a68-f1f8-49c1-912f-2b6e355c7cee",
              "leftValue": "={{ $('Get row(s) in sheet').item.json['Due Amount'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "c409e71b-c472-48c8-b9ad-6af7a45811f7",
              "leftValue": "={{ $('Get row(s) in sheet').item.json.Status }}",
              "rightValue": "Paid",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        128,
        48
      ],
      "id": "50eafe7e-eef3-40d8-b9c4-a55dc8f0e648",
      "name": "Filter1"
    },
    {
      "parameters": {
        "sendTo": "monisahasnain@gmail.com",
        "subject": "Payment Due reminder ",
        "message": "=This is the reminder for the Customer  {{ $('Get row(s) in sheet').item.json['Customer Name'] }}\nwho's due amount is  {{ $('Get row(s) in sheet').item.json['Due Amount'] }}\nand Due Date was {{ $('Get row(s) in sheet').item.json['Due Date'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        48
      ],
      "id": "b8cc0706-9544-4720-9af9-10ebd8cd89ff",
      "name": "Send a message1",
      "webhookId": "d21a5049-643c-46b5-ab8d-87756b83f5e4",
      "credentials": {
        "gmailOAuth2": {
          "id": "JR6OwLpNWtzteuyo",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9636d37-5089-4646-96a7-885b5d40ea4a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "372330965153f8beef3e69cb05f6df470fd2de900a59d6d5a1ca393bfd717edb"
  },
  "id": "M1yBiftB16VujwIJ",
  "tags": []
}